.customBtn {
  width: max-content;
  min-width: 65px;
  height: 26px;
  padding: 0 14px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fff;
}

.customBtn:not(:disabled):hover {
  opacity: 0.8;
}

.customBtn.sky {
  background: #0679e3;
}
.customBtn.darkBlue {
  background: #2e3192;
}
.customBtn.blue {
  background: #314cda;
}
.customBtn.green {
  background: #13b890;
}
.customBtn.navy {
  background: #004280;
}
