/* The switch - the box around the slider */
.customSwitch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 20px;
}

/* Hide default HTML checkbox */
.customSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.customSwitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bdbdbd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.customSwitch .slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.customSwitch input:checked + .slider {
  background-color: #52b597;
}

.customSwitch input:focus + .slider {
  box-shadow: 0 0 1px #52b597;
}

.customSwitch input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.customSwitch .slider.round {
  border-radius: 34px;
}

.customSwitch .slider.round:before {
  border-radius: 50%;
}
