.customTextarea {
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
  resize: none;
  padding: 10px;
  background: #fff;
  border: 1px solid #d8dce1;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  cursor: default;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  word-break: break-all;
  cursor: text;
}

.customTextarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #757575;
}

.customTextarea:not(:disabled):not([readonly]):hover,
.customTextarea:not(:disabled):not([readonly]):focus {
  border-color: #7AAAD1;
}
